ALI_BAI_LIAN_API_KEY=
TAVILY_API_KEY=
SUPER_AGENT_MYSQL_URL=
SUPER_AGENT_MYSQL_USERNAME=
SUPER_AGENT_MYSQL_PASSWORD=
SUPER_AGENT_MYSQL_DRIVER_CLASS_NAME=
SUPER_AGENT_REDIS_HOST=
SUPER_AGENT_REDIS_PORT=
SUPER_AGENT_REDIS_PASSWORD=
SUPER_AGENT_REDIS_DATABASE=
SUPER_AGENT_MINIO_ENDPOINT=
SUPER_AGENT_MINIO_ACCESS_KEY=
SUPER_AGENT_MINIO_SECRET_KEY=
SUPER_AGENT_MINIO_BUCKET=
SUPER_AGENT_KAFKA_BOOTSTRAP_SERVERS=
SUPER_AGENT_KAFKA_LISTENER_AUTO_STARTUP=true
SUPER_AGENT_KAFKA_ADMIN_AUTO_CREATE=true
SUPER_AGENT_KAFKA_TOPIC_DOCUMENT_PARSE_REQUESTED=
SUPER_AGENT_MODEL_API_CONFIG_AES_KEY_BASE64=
SUPER_AGENT_NEO4J_URI=
SUPER_AGENT_NEO4J_USERNAME=
SUPER_AGENT_NEO4J_PASSWORD=
SUPER_AGENT_NEO4J_DATABASE=
SUPER_AGENT_RETRIEVAL_EMBEDDING_BASE_URL=
SUPER_AGENT_RETRIEVAL_EMBEDDING_API_KEY=
SUPER_AGENT_RETRIEVAL_EMBEDDING_MODEL=
SUPER_AGENT_PGVECTOR_URL=
SUPER_AGENT_PGVECTOR_USERNAME=
SUPER_AGENT_PGVECTOR_PASSWORD=
SUPER_AGENT_ELASTICSEARCH_BASE_URL=
SUPER_AGENT_ELASTICSEARCH_API_KEY=
SUPER_AGENT_ELASTICSEARCH_INDEX=
SUPER_AGENT_RERANK_ENABLED=false
SUPER_AGENT_RERANK_BASE_URL=
SUPER_AGENT_RERANK_API_KEY=
SUPER_AGENT_RERANK_MODEL=
