ALI_BAI_LIAN_API_KEY=sk-b0075f58913243e4b72739b2f7096d8c
TAVILY_API_KEY=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

# Optional when your local Elasticsearch password is not the default `elastic`.
ELASTICSEARCH_PASSWORD=

# Optional when your local Neo4j password is not the default `12345678`.
NEO4J_PASSWORD=12345678

# Optional by default. Required only when rerank is enabled.
RERANK_API_KEY=
