ALI_BAI_LIAN_API_KEY=
TAVILY_API_KEY=
LAB_MIND_MYSQL_URL=
LAB_MIND_MYSQL_USERNAME=
LAB_MIND_MYSQL_PASSWORD=
LAB_MIND_MYSQL_DRIVER_CLASS_NAME=
LAB_MIND_REDIS_HOST=
LAB_MIND_REDIS_PORT=
LAB_MIND_REDIS_PASSWORD=
LAB_MIND_REDIS_DATABASE=
LAB_MIND_MINIO_ENDPOINT=
LAB_MIND_MINIO_ACCESS_KEY=
LAB_MIND_MINIO_SECRET_KEY=
LAB_MIND_MINIO_BUCKET=
LAB_MIND_KAFKA_BOOTSTRAP_SERVERS=
LAB_MIND_KAFKA_LISTENER_AUTO_STARTUP=true
LAB_MIND_KAFKA_ADMIN_AUTO_CREATE=true
LAB_MIND_KAFKA_TOPIC_DOCUMENT_PARSE_REQUESTED=
LAB_MIND_MODEL_API_CONFIG_AES_KEY_BASE64=
LAB_MIND_NEO4J_URI=
LAB_MIND_NEO4J_USERNAME=
LAB_MIND_NEO4J_PASSWORD=
LAB_MIND_NEO4J_DATABASE=
LAB_MIND_RETRIEVAL_EMBEDDING_BASE_URL=
LAB_MIND_RETRIEVAL_EMBEDDING_API_KEY=
LAB_MIND_RETRIEVAL_EMBEDDING_MODEL=
LAB_MIND_PGVECTOR_URL=
LAB_MIND_PGVECTOR_USERNAME=
LAB_MIND_PGVECTOR_PASSWORD=
LAB_MIND_ELASTICSEARCH_BASE_URL=
LAB_MIND_ELASTICSEARCH_API_KEY=
LAB_MIND_ELASTICSEARCH_INDEX=
LAB_MIND_RERANK_ENABLED=false
LAB_MIND_RERANK_BASE_URL=
LAB_MIND_RERANK_API_KEY=
LAB_MIND_RERANK_MODEL=
